@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #03045e;
  background-color: #eceff1;
  --dark-blue-primary: #0b003c;
  --dark-blue-dim: #01023d;

  height: 100%;
  width: 100%;

  --a-score-color: #83b5ff;
  --b-score-color: #5687d0;
  --c-score-color: #335f9f;
  --d-score-color: #363055;
  --f-score-color: #920c0c;
}

body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}
